html, body {
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    border: 1px solid #88AB8E;
}

body {
    background-color: #F2F1EB;
}

/********* LEFT SIDE *************/

/* PROFILE INFO */

.leftSide {
    width: 35%;
    max-width: 300px;
    height: 100vh;
    background-color: #88AB8E;
    position: relative;
    overflow: hidden;
}

.profile_info {
    text-align: center;
    padding-top: 30px;
}

.profile_info img {
    width: 200px;
    /* height: 200px; */
}

.leftSide img {
    border-radius: 50%;
    padding: 3px;
}

.leftSide h1 {
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* CONTACT */

.contact {
    width: 100%;
    margin-top: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    box-sizing: border-box;
}

.contact table {
    border-collapse: collapse;
    width: 100%;
}

.contact .info_img {
    padding-left: 5px;
    object-fit: cover;
    max-width: 50px;
    height: 100%;
}

.contact .info_name {
    text-align: center;
    width: 100%;
    height: 100%;
}
