html, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    background-color: #F2F1EB;
}

body {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

/* ---------    HEADER  ------------ */

header h1 {
    text-align: center;
    border: 1px solid #88AB8E;
    border-radius: 10px;
    letter-spacing: 5px;
    padding: 15px 0 15px 0;
}

/* -----------  Links  ---------------- */

.topbar {
    display: flex;
    padding: 0;
}

.topbar ul {
    width: 100%;
    height: 1vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 10px;
}

.topbar li {
    
}

/* ---------     MAIN (TABLE)   -------------- */

main {
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;  
}

table {
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #88AB8E;
    display: flex;
    align-items: center;
    justify-content: center;
}

th {
    width: 100%;
    text-align: left;
    height: 2rem;
    padding-right: 20px;
    
}

td {
    width: 100%;
    text-align: left;
    padding: 0 5px 0 5px;
    gap: 5px;
    border-bottom: 0.5px solid #88AB8E;
}