html, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    height: 100vh;
}

body {
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 241, 235);
}

/* ---------    HEADER  ------------ */

header {
    text-align: center;
    letter-spacing: 5px;
    border: 0.5px solid black;
    border-radius: 10px;
}

/* ---------     MAIN   -------------- */

main {
    display: flex;
    margin-top: 2rem;
}

main .profile_header {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    width: 100%;
}

main .profile_tag {
    border: 1px solid red;
    /* position: relative;
    display: flex;
    flex-direction: column; */
}

main .profile_info {
    border: 1px solid red;
}