/* @media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: 100vh;
        max-width: 100%;
        padding: 0 10px;
    }
} */