* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    border: 1px solid red;
}

/* body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100vh);
    gap: 10px;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}

/* header,
nav,
section,
article,
aside,
footer {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid #333;
    width: 100%; 
} */