html, body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(242, 241, 235);
}

header > h1 {
    width: 100%;
    height: 80px;
    background-color: rgb(136, 171, 142);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 0;
}

main {
    background-color: rgb(238, 231, 218);
    width: 100%;
}

#bodyForm {
    border: 1px solid red;
    width: 100%;
    box-sizing: inherit;
}

input {
    width: 50%;
    box-sizing: inherit;
}